/** {
  border: 1px solid red;
}*/
body {
  font-family: 'Asul', sans-serif;
  background-color: #efefef;
  color: #140028;
  font-size: 20px;
  text-align: center;
}
a {
  color: #35006b;
  text-decoration: none;
}
img {
  width: 400px;
  height: auto;
}
.small {
  width: 150px;
  height: auto;
}
nav {
  background-color: #7078aa;
  color: #140028;
  border: 3px solid black;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
button {
  font-family: 'Asul', sans-serif;
  background-color: #efefef;
  color: #35006b;
  font-size: 20px;
  text-align: center;
  border: 0;
}
.nav {
  background-color: #7078aa;
}
h1, h2, h3 {
  font-family: 'Stardos Stencil', cursive;
  color: #140028;
  text-align: center;
}
.yarn-index {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
input {
  border: 2px solid #7078aa;
  border-radius: 4px;
  width: 300px;
  padding: 5px;
  background-color: #7078aa;
  color: #140028;
}
.not-logged {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.not-logged-img {
  width: 300px;
  padding: 10px;
}
