<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Delta Fiber</title>
  </head>
  <body>
    <h1>The Delta Fiber Yarn Index</h1>
    <% for (let yarn of allYarn) { %>
      <p><%= yarn.brand %>, <%= yarn.name %></p>
    <% } %>
  </body>
</html>
