<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Asul|Stardos+Stencil" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <title>Add yarn!</title>
  </head>
  <body>
    <h2>Add yarn!</h2>
    <form action="/yarn" method="POST">
      <p><input type="text" name="brand" placeholder="Brand"></p>
      <p><input type="text" name="name" placeholder="Name"></p>
      <p><input type="text" name="fiber" placeholder="Fiber content"></p>
      <p><input type="text" name="color" placeholder="Color"></p>
      <p><input type="text" name="yarn_weight" placeholder="Yarn Weight"></p>
      <p><input type="number" name="skein_weight" placeholder="Skein weight in grams"></p>
      <p><input type="number" name="length_per_skein" placeholder="Length in yards"></p>
      <p><input type="number" name="skein_qty" placeholder="Number of skeins"></p>
      <p><input type="text" name="dye_lot" placeholder="Dye lot"></p>
      <p><input type="text" name="img" placeholder="Image url"></p>
      <p><input type="text" name="notes" placeholder="Notes"></p>
      <input type="hidden" name="user" value="<%= currentUser._id %>">
      <p><button type="submit">Submit!</button></p>
    </form>
    <p><a href="/yarn"><button>Back to The Delta Fiber</button></a></p>
  </body>
</html>
