<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Asul|Stardos+Stencil" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <title>WRONG!</title>
  </head>
  <body>
    <p>Wrong username or password. You have been denied access. Seven of Nine is judging you. Loudly.</p>

    <p><a href="/sessions/login"><button>Back to login</button></a></p>
  </body>
</html>
