<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Log In/Sign Up</title>
  </head>
  <body>
      <nav>
         <ul>
           <li><a href="/sessions/new">Log In</a></li>
           <li><a href="/users/new">Register</a></li>
         </ul>
      </nav>
  </body>
</html>
