<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Asul|Stardos+Stencil" rel="stylesheet"> 
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <title>Log In/Sign Up</title>
  </head>
  <body>
      <nav>
         <ul>
           <li><a href="/sessions/login">Log In</a></li>
           <li><a href="/users/register">Register</a></li>
         </ul>
      </nav>
  </body>
</html>
