<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign up!</title>
  </head>
  <body>

    <h2>Sign up!</h2>

      <form action="/users/register" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password">
        <button type="submit">Create User</button>
      </form>

  </body>
</html>
