<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Asul|Stardos+Stencil" rel="stylesheet"> 
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <title>Sign up!</title>
  </head>
  <body>

    <h2>Sign up!</h2>

      <form action="/users/register" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password">
        <button type="submit">Create User</button>
      </form>

  </body>
</html>
